/*30h0f0knDpGe9-qjlsWr0lfvpgm*/


nav ul {
	margin: 50px 0;
	padding-left: 10px;
	float: center;
	list-style-type: none;
	background: #FFB18E;
}

nav a {
	font: italic 12pt;
	padding: 10px 5px;
	background: linear-gradient(orange, red);
	text-decoration: none;
	color: blue;
}

nav a:hover {
	background: linear-gradient(red, orange);
	box-shadow: 5px 5px 2px;
	transition: 1s;
}

nav li {
	display: inline;
}


#main {
	padding: 30px 60px;
	background-color: #CD6536;
	margin: 0 120px;
	border: 3px #FFB18E solid;
	border-radius: 25px;
	min-width: 450px;
	
}

body {
	background: #299D3D;
	
}

p {
	color: #FFB18E;
}

img {
	transition: 1s;
}

img:hover {
	transform: scale(1.5) translate(-50px,50px);
}



