body {
	background-color: rgb(30,30,20);
}


p, h3 {
	color: rgb(200, 30, 129);
	font-family: "Times New Roman";
	font-size: 120%;
	line-height: 1.5;
	text-align: justify;
}

h1 {
	clear: left;
	color: darkgreen;
	font-family: jokerman;
	padding-left: 100px;
	border-width: 2px;
	border-style: solid;
}

nav ul li { 
	display: inline; 
}

nav  ul{
	margin-left: 0;
	padding-left: 0;
	background-color: purple;
	float: left;
	width: 100%;
}


nav ul li a {
	padding: 5px 10px;
	background-color: purple;
	color: yellow;
	text-decoration: none;
	float: left;
	border-right: 1px solid red;
}

nav ul li a:hover {
	background-color: #369;
	color: #fff;
}

img:hover {
	visibility: hidden;
}

a:link {
	color: yellow;
}

a:hover {
	background-color: red;
}

a:active {
	background-color: green;
}

p:hover {
	float: left;
}





